:root {
    --green: #84A178;
    --yellow: #F8D24E;
    --white: #FFF;
}
body {
    background-color: var(--green);
    font-family: "Montserrat", serif;
    /* font-family: "DM Sans", serif; */
    /* font-family: "Seymour One", serif; */
}