* {
    box-sizing: border-box;
}

:root {
    --green: #84a178;
    --yellow: #f8d24e;
    --white: #fff;
    --btngreen: #0a8817;
    --disabled: #ababab;
    --black: #131313;
    --prod1: #aec6a5;
    --prod2: #efd478;
    --prod3: #d6936d;
    --btngrey: #d9d9d9;
    --locgrey: #e1e1e1;
    --lochours: #ababab;
    --botgrey: #7a7a7a;
    --inputcream: #fcf8eb;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--green);
    font-family: "Montserrat", serif;
    padding: 0.5rem 0;
    margin: 0;
    /* font-family: "DM Sans", serif; */
    /* font-family: "Seymour One", serif; */
}

.svg-cont {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.nav-cont {
    /*   padding: 0 17.08vw 0 25.66vw;*/
    padding: 0;
}
.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-item {
    margin-right: 1.75em;
    font-weight: 700;
    margin-top: 2em;
}
.nav-item-link {
    text-decoration: none;
    color: var(--white);
}
.nav-item-link:hover,
.nav-item-link:focus {
    color: var(--yellow);
}
.nav-item-link:last-child {
    margin-right: 0;
}

.button-buy {
    display: flex;
    width: 9.5em;
    height: 2.625em;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 1.66vw;
    gap: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: var(--yellow);
    transition: 0.3s background-color ease;
}
.svgArrowRight {
    width: 7px;
    height: 10px;
}
.button-buy:hover {
    background-color: var(--btngreen);
}
.button-buy:focus {
    background-color: var(--btngreen);
    color: var(--white);
}
.button-buy:disabled {
    background-color: var(--disabled);
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
}

.north-part {
    display: flex;
    padding: 0 1em;
    flex-direction: row;
    justify-content: space-between;
    background-image:
        url("../images/bg-img-1.svg"), url("../images/bg-img-2.svg"),
        url("../images/bg-img-3.svg");
    background-repeat: no-repeat;
    background-position:
        left bottom,
        center bottom 2.9375em,
        right bottom 0.2em;
}

.slogan {
    font-family: "Seymour One", serif;
    font-size: 2.375rem;
    color: var(--white);
    letter-spacing: calc(1em / 25);
    text-transform: uppercase;
    margin: 1.18em 0 0 0;
    width: 9.66em;
}

.hero-btn-cont {
    font-size: 0.875em;
    margin-top: 2em;
    display: flex;
    gap: 0.85em;
}

.button-products {
    font-size: 1em;
    width: 9.57em;
    height: 3em;
    font-weight: 600;
    background-color: var(--green);
    border-radius: 0.7em;
    border: 2px solid var(--yellow);
    transition: border-color 0.3s ease;
}

.button-products:hover,
.button-products:focus {
    border-color: var(--btngreen);
}

.button-products:focus {
    color: var(--white);
}

.button-products:disabled {
    border-color: var(--disabled);
}

.button-about {
    font-size: 1em;
    font-weight: 600;
    background-color: var(--green);
    border: none;
    text-decoration: underline;
    color: var(--yellow);
    width: 11em;
    transition: color 0.3s ease;
}

.button-about:hover {
    color: var(--btngreen);
}

.button-about:focus {
    color: var(--white);
}

.button-about:disabled {
    color: var(--btngrey);
}

.hero-descr-cont {
    margin-top: 2.625em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.hero-descr {
    color: var(--white);
    font-size: 0.875em;
    line-height: 1.4em;
    width: 14.5em;
    margin: 0;
}

.svgArrow {
    fill: var(--white);
}
/*RIGHT SIDE*/
.right-side {
    display: flex;
    font-size: 0.875em;
    gap: 0.35em;
    margin-top: 3.78em;
}
.number {
    font-weight: 900;
    font-size: 3.29em;
    margin: 0 0 0.29em 0;
    text-align: right;
    line-height: 0.71em;
}
.number-info {
    color: var(--white);
    font-size: 1em;
    margin: 0 0 1.14em 0;
    text-align: right;
}
.number-info:last-child {
    margin: 0;
}

/* South Part */

.south-part {
    background-color: var(--white);
    background-image: url("../images/bg-of-south-part.svg");
    background-position: top -15em center;
    padding: 0 1em 3.75em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-title-descr {
    font-size: 1.875em;
    text-transform: uppercase;
    letter-spacing: calc(1em / 25);
    font-weight: 800;
    text-align: center;
    margin: 2em 0 0 0;
}

.products-title {
    font-family: "Seymour One";
    font-size: 2.25em;
    margin: 0.33em 0 3.33em 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(1em / 16.66);
}

.products-list {
    display: flex;
    list-style-type: none;
    gap: 1.8125em;
    margin: 10.4375em 0 0 0;
    padding: 0;
    align-items: stretch;
}

.products-item {
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    flex: 1;
}

.products-item:nth-child(1) {
    background-color: var(--prod1);
}

.products-item:nth-child(2) {
    background-color: var(--prod2);
}
.products-item:nth-child(3) {
    background-color: var(--prod3);
}
.svgArrowBlack {
    fill: var(--black);
}

.products-img-cont {
    margin-top: -10.4375em;
    background-color: var(--black);
    position: relative;
    width: 18.875em;
    height: 18.875em;
    border-radius: 50%;
    align-self: center;
}

.products-img {
    position: absolute;
    right: 0;
    top: -1em;
}

.products-item:nth-child(1) .products-img-cont {
    background-color: var(--prod1);
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

.products-item:nth-child(2) .products-img-cont {
    background-color: var(--prod2);
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

.products-item:nth-child(3) .products-img-cont {
    background-color: var(--prod3);
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

.products-item-title {
    text-transform: uppercase;
    font-size: 1.875em;
    margin: 1em 0 2.2em 0;
}

.products-item-descr {
    margin: 0 4em 3.125em 4em;
    letter-spacing: calc(1em / 25);
    line-height: 1.76em;
}

.products-link {
    margin-top: auto;
    margin-bottom: 3.75em;
    height: 1em;
}

.svgArrowBlack {
    height: 1em;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
}

.content-title-descr {
    text-transform: uppercase;
    font-size: 1.875em;
    letter-spacing: calc(1em / 25);
    font-weight: 800;
    margin: 2em auto 0.4em auto;
    color: var(--white);
}

.content-title {
    font-family: "Seymour One", serif;
    font-size: 2.25em;
    margin: 0 auto 2.27em auto;
    color: var(--white);
    text-transform: uppercase;
}

.content-cont {
    display: flex;
    flex-direction: row;
    padding: 0 2em 3.75em 1em;
    gap: 2.375em;
}

.content-img-cont {
    background-color: var(--yellow);
    border-radius: 50%;
    min-width: 30.625em;
    height: 30.625em;
    position: relative;
    margin-bottom: 1.625em;
}

.content-cont-img {
    position: absolute;
    bottom: -1.625em;
}

.content-descr-cont {
    padding-top: 5.625em;
}

.content-descr {
    max-width: 32em;
    color: var(--white);
    line-height: 1.76em;
    letter-spacing: calc(1em / 25);
}

.content-descr-btn {
    text-decoration: none;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 0.875em;
    font-weight: 600;
    border-radius: 0.625em;
    width: 10.25em;
    height: 2.625em;
    gap: 0.375em;
    transition: 0.3s background-color ease;
}

.content-descr-btn:hover {
    background-color: var(--btngreen);
}

.content-descr-btn:focus {
    background-color: var(--btngreen);
    color: var(white);
}

.content-descr-btn:disabled {
    color: var(--disabled);
}

.stat-cont {
    padding: 0 1em 6.125em 1em;
}

.stat-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.stat-item {
    width: 23em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-icon-bg {
    background-color: var(--yellow);
    border-radius: 50%;
    width: 3.125em;
    height: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-number {
    margin: 0.67em auto 0 auto;
    font-size: 3.625em;
    font-weight: 700;
    color: var(--white);
    letter-spacing: calc(1em / 25);
}

.stat-descr {
    margin: 0.75em auto 5em auto;
    color: var(--white);
    letter-spacing: calc(1em / 50);
    line-height: 1.76em;
}

/* Reviews */

.review-cont {
    background-color: var(--white);
    background-image: url("../images/bg-of-south-part.svg");
    background-position: top -15em center;
    padding-bottom: 8em; /* reserv for elements below */
}

.review-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -6.125em 2em 0 2em;
    text-align: center;
}

.review-item:nth-child(2),
.review-item:nth-child(3) {
    display: none;
}

.review-img {
    margin-bottom: 8.75em;
    border-radius: 1.5em;
}

.review-foto {
    margin: 0 auto 2em auto;
    align-self: center;
}

.review {
    max-width: 60.5em;
    margin: 0 0 2em 0;
    padding: 2.625em 4.625em;
    background-color: var(--green);
    color: var(--white);
    font-weight: 500;
    border-radius: 1.5em;
    line-height: 1.86em;
}

.review-name {
    margin: 0 0 2em 0;
    font-weight: 500;
    line-height: 1.86em;
}

.review-dots {
    display: flex;
    justify-content: center;
    gap: 1.125em;
}

.review-dot {
    width: 12px;
    height: 12px;
    background-color: var(--btngrey);
    border-radius: 50%;
    margin-bottom: 6.25em;
}

.review-item:nth-child(1) .review-dot:nth-child(1) {
    background-color: var(--green);
}

.review-item:nth-child(2) .review-dot:nth-child(2) {
    background-color: var(--green);
}

.review-item:nth-child(3) .review-dot:nth-child(3) {
    background-color: var(--green);
}

/* Locations */

.locations-cont {
    margin: -8em 1em 7.5em 1em;
}

.loc-list {
    display: flex;
    list-style-type: none;
    gap: 2em;
    justify-content: center;
    margin: 0;
}

.loc-item {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1.5em;
    max-width: 23em;
    padding: 2.5em;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
    flex: 1;
}

.loc-type {
    background-color: var(--yellow);
    padding: 0.25em 0.875em;
    border-radius: 0.375em;
    margin-bottom: 2em;
    line-height: 1.4em;
    letter-spacing: calc(2em / 25);
    display: inline-block;
}

.loc-sity {
    line-height: 1.86em;
    margin-bottom: 0.5em;
}

.loc-address {
    font-style: normal;
    color: var(--prod3);
    padding-right: 21%;
    cursor: pointer;
    letter-spacing: calc(1em / 25);
    line-height: 1.83em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--locgrey);
    margin-bottom: 2em;
}

.loc-address:hover,
.loc-address:focus {
    text-decoration: underline;
}

.loc-days {
    margin: 0;
    line-height: 1.86em;
}

.loc-hours {
    margin: 0.375em 0 0.75em 0;
    color: var(--lochours);
    line-height: 1.86em;
}

.loc-hours:last-child {
    margin-bottom: 2em;
    border-bottom: 1px solid var(--locgrey);
    padding-bottom: 2em;
}

.loc-tel {
    padding-top: 2em;
    margin-bottom: 0.25em;
}

.loc-tel,
.loc-mail {
    text-decoration: none;
    color: var(--black);
    line-height: 1.5em;
    letter-spacing: 0;
}

.loc-buttons-cont {
    margin: 3.75em auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.open-loc-btn,
.open-fran-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    width: 196px;
    height: 42px;
    border-radius: 10px;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
}

.open-loc-btn {
    background-color: var(--yellow);
    border: none;
    transition: background-color 0.3s ease;
}

.open-loc-btn:hover,
.open-loc-btn:focus {
    background-color: var(--btngreen);
}

.open-loc-btn:focus {
    color: var(--white);
}

.open-loc-btn:disabled {
    background-color: var(--disabled);
}

.open-fran-btn {
    background-color: var(--green);
    border: 2.5px solid var(--yellow);
    transition: border-color 0.3s ease;
}

.open-fran-btn:hover,
.open-fran-btn:focus {
    border-color: var(--btngreen);
}

.open-fran-btn:focus {
    color: var(--white);
}

.open-fran-btn:disabled {
    border-color: var(--disabled);
}

/* FOOTER */

.footer {
    padding: 0 1em 0 1em;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--locgrey);
}

.footer-descr-big {
    font-size: 1.875em;
    text-transform: uppercase;
    margin: 0 0 0.47em 0;
    color: var(--white);
    letter-spacing: calc(1em / 25);
}

.footer-descr-small {
    font-size: 3.625em;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: calc(1em / 16.67);
}

.footer-contacts-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 1.125em 0 0 0;
    justify-content: flex-end;
    gap: 1.875em;
}

.footer-contacts-item {
    background-color: var(--yellow);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contacts-item:nth-child(2) .footer-contacts-link {
    height: 16px;
}

.footer-contacts-item:not(:nth-child(2)) .footer-contacts-link {
    height: 20px;
}

.footer-contacts-descr {
    font-weight: 700;
    letter-spacing: calc(1em / 50);
    line-height: 1.86em;
    margin: 2.5em 0 3.75em 0;
}

.footer-contacts-tel {
    text-decoration: none;
    color: var(--white);
}

.footer-bottom-descr {
    font-size: 0.75em;
    margin: 1em 0 0 0;
    text-align: center;
    color: var(--botgrey);
    letter-spacing: calc(1em / 50);
    line-height: 1.86em;
    font-weight: 700;
}

/*BUY MODAL*/

.buy-modal-wrap {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.buy-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    width: 35.5em;
    height: 40.25em;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    padding: 0.75em 0.75em 2em 0.75em;
    box-sizing: border-box;
}

.ice-list {
    display: flex;
    list-style-type: none;
    gap: 2em;
    padding: 0;
    margin: 0;
}

.ice-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 12.375em;
}

.ice-item-cont {
    height: 8.25em;
    background-color: var(--black);
    border-radius: 50%;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
    margin-bottom: -4.125em;
    position: relative;
    z-index: 3;
}

.ice-item:nth-child(1) label .ice-item-cont {
    background-color: var(--prod1);
}

.ice-item:nth-child(2) label .ice-item-cont {
    background-color: var(--prod2);
}

.ice-item:nth-child(3) label .ice-item-cont {
    background-color: var(--prod3);
}

.ice-item-img {
    margin-top: -0.4375em;
}

.ice-item-check {
    opacity: 0;
    position: absolute;
}

.ice-checkmark {
    width: 8.25em;
    height: 8.4375em;
    border: 2px solid var(--black);
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 2;
    letter-spacing: calc(1em / 25);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1.25em;
    box-sizing: border-box;
}

.ice-item:nth-child(1) .ice-checkmark {
    border-color: var(--prod1);
}

.ice-item:nth-child(1) .ice-item-check:checked + .ice-checkmark {
    background-color: var(--prod1);
}

.ice-item:nth-child(2) .ice-checkmark {
    border-color: var(--prod2);
}

.ice-item:nth-child(2) .ice-item-check:checked + .ice-checkmark {
    background-color: var(--prod2);
}

.ice-item:nth-child(3) .ice-checkmark {
    border-color: var(--prod3);
}

.ice-item:nth-child(3) .ice-item-check:checked + .ice-checkmark {
    background-color: var(--prod3);
}

label {
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    color: var(--black);
}

.buy-name-input,
.buy-phone-input,
.buy-comment-input {
    font-size: 0.875em;
    padding: 0.79em 1.1429em;
    width: 368px;
    color: var(--black);
    background-color: var(--inputcream);
    border: 1px solid var(--green);
    border-radius: 10px;
    line-height: 1.4em;
    min-width: 0;
}

.buy-name-input {
    margin-top: 2.857em;
}

.buy-phone-input {
    margin: 1.1428em 0;
}

.buy-comment-input {
    margin-bottom: 2.2856em;
    font-size: 1.14285714em;
}
