:root {
    --green: #84a178;
    --yellow: #f8d24e;
    --white: #fff;
}

body {
    background-color: var(--green);
    font-family: "Montserrat", serif;
    padding: 0.66vw 1.33vw;
    margin: 0;
    /* font-family: "DM Sans", serif; */
    /* font-family: "Seymour One", serif; */
}

.svg-cont {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-cont {
    /*   padding: 0 17.08vw 0 25.66vw;*/
    padding: 0;
}
.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-item {
    margin-right: 2.33vw;
    font-weight: 700;
    margin-top: 2.66vw;
}
.nav-item-link {
    text-decoration: none;
    color: var(--white);
}
.nav-item-link:hover,
.nav-item-link:focus {
    color: var(--yellow);
}
.nav-item-link:last-child {
    margin-right: 0;
}

.button-buy {
    display: flex;
    width: 152px;
    height: 42px;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 1.66vw;
    gap: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: var(--yellow);
}

.svgArrowRight {
    width: 7px;
    height: 10px;
}
